@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --c1: #fefefe;
  --c2: #c2c2c2;
  --c3: #404258;
  --c4: #282a3a;
  --navHeight: 60px;
  font-size: 20px;
  background: var(--c4);
  color: var(--c1);
}

h1 {
  font-size: 2rem;
  margin: 0;
}
h1::before {
  content: ">> ";
}

p {
  margin: 0;
  margin-top: 1rem;
}

button {
  border: 2px solid var(--c2);
  border-radius: 10px;
  color: var(--c2);
  padding: 0.5rem;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0);
  text-align: left;
  font-size: 1rem;
}

button:hover {
  border-color: var(--c1);
  color: var(--c1);
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--navHeight);
  padding: 0 50px;

  background: var(--c3);
  border-bottom: 2px solid var(--c2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.Navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Navbar ul li {
  padding: 0 20px;
}

.Scene {
  max-width: 50%;
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  padding-top: calc(1rem + var(--navHeight));
  display: flex;
  flex-direction: column;
}
